{% extends "base.html" %}
{% block title %}Request {{object.id}}{% endblock %}
{% block content %}
    <table>
        <tr><td>Run</td><td>{{object.run.name}}</td></tr>
        <tr><td>Date </td><td>{{object.start_after}}</td></tr>
        <tr><td>Requestor</td><td>{{object.requestor}}</td></tr>
        <tr><td>Start after</td><td>{{object.start_after}}</td></tr>
        <tr><td>Status</td><td>{{object.status.name}}</td></tr>
    </table>
    <a href="{{object.get_edit_url}}">Edit</a>
{% endblock %}
