{% extends "base.html" %}
{% block title %}
Request Queue
{% endblock %}
{% block content %}
<div id='req'>
    <p>[[ title ]]</p>
    <md-table>
        <md-table-row>
            <md-table-head>Run</md-table-head>
            <md-table-head>Date Created</md-table-head>
            <md-table-head>Date Modified</md-table-head>
            <md-table-head>Start After</md-table-head>
            <md-table-head>Requestor</md-table-head>
            <md-table-head>Status</md-table-head>
        </md-table-row>
        {% for req in object_list %}
        <md-table-row>
            <md-table-cell><a href="{{ req.get_absolute_url }}">{{req.run.name}}</a></md-table-cell>
            <md-table-cell>{{req.date_created}}</md-table-cell>
            <md-table-cell>{{req.date_modified}}</md-table-cell>
            <md-table-cell>{{req.start_after}}</md-table-cell>
            <md-table-cell>{{req.requestor}}</md-table-cell>
            <md-table-cell>{{req.status.name}}</md-table-cell>
        </md-table-row>
        {% endfor %}
    </md-table>
</div>


{% endblock %}
