{% extends "base.html" %}
{% block title %}Run {{object.id}}{% endblock %}
{% block content %}
    <table>
        <tr><td>Name</td><td>{{object.name}}</td></tr>
        <tr><td>Date Created</td><td>{{object.date_created}}</td></tr>
        <tr><td>Date Modified</td><td>{{object.date_modified}}</td></tr>
        <tr><td>Flowcell</td><td>{{object.flowcell}}</td></tr>
        <tr><td>Lot</td><td>{{object.lot}}</td></tr>
        <tr><td>Expiration</td><td>{{object.expiration}}</td></tr>
        <tr><td>Instrument</td><td>{{object.instrument.name}}</td></tr>
    </table>

    Samples
    <table>
        <tr>
            <th>Run</th>
            <th>Date Created</th>
            <th>Date Modified</th>
            <th>Description</th>
            <th>Index 1</th>
            <th>Index 2</th>
            <th>Lane</th>
            <th>Sample Type</th>
        </tr>
        {% for sam in object.sample_set.all %}
        <tr>
            <td><a href="{{ sam.get_absolute_url }}">{{sam.name}}</a></td>
            <td>{{sam.date_created}}</td>
            <td>{{sam.date_modified}}</td>
            <td>{{sam.description}}</td>
            <td>{{sam.index1}}</td>
            <td>{{sam.index2}}</td>
            <td>{{sam.lane.name}}</td>
            <td>{{sam.sample_type.name}}</td>
            <td><a href="{{ sam.get_edit_url }}">Edit</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
