{% extends "base.html" %}
{% block title %}
Runs
{% endblock %}
{% block content %}
    <table>
        <tr>
            <th>Name</th>
            <th>Date Created</th>
            <th>Date Modified</th>
            <th>Flowcell</th>
            <th>Lot</th>
            <th>Expiration</th>
            <th>Instrument</th>
        </tr>
        {% for obj in object_list %}
        <tr>
            <td><a href="{{ obj.get_detail_url }}">{{obj.name}}</a></td>
            <td>{{obj.date_created}}</td>
            <td>{{obj.date_modified}}</td>
            <td>{{obj.flowcell}}</td>
            <td>{{obj.lot}}</td>
            <td>{{obj.expiration}}</td>
            <td>{{obj.instrument.name}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
